version: "2.0"
services:
    ros2:
        image: ros2_pybullet_gui:latest
        volumes:
            - /tmp/.X11-unix:/tmp/.X11-unix:rw
            - $HOME/.Xauthority:/root/.Xauthority:rw
            - ../workspace/:/home/ros_user/workspace/
        environment:
            - DISPLAY=$DISPLAY
            - QT_X11_NO_MITSHM=1
        devices:
            - /dev/dri:/dev/dri
        privileged: true
        tty: true
        network_mode: "host"
